.btn {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: end;

}
.btn label {
  font-family: 'Nunito', sans-serif;
  color: #fff;

  margin-right: 2rem;
  font-size: 1.5rem;
}
.btn input {
  padding: 1rem .7rem;
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  border-radius: 1rem;
}
