.next_btn{
    display: flex;
    justify-content: end;
}

.next_btn  svg{
    width: 4.5rem;
    display: flex;
    font-size: 4.5rem;
    justify-content: center;
    text-align: center;
    border-radius: 5rem;
    color: #fff;
}
.next_btn svg:hover {
    color: #222;
    background-color: #7b7b7b60;
}