.btn_tela_inicial {
    width: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
    justify-content: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: rgb(0, 38, 80);
    color: 7b7b7b;
    text-decoration: none;
    list-style: none;color: #fff;
    font-size: 1.3rem;
    transition: 0.9s;
    border-radius: 2rem;
    box-shadow: 0 0 1rem .2rem #0f0f0fda;
}
.btn_tela_inicial:hover {
    background-color: rgba(0, 37, 80, 0.63);
    box-shadow: 0 0 .6rem .1rem #b5b2b2da;


}