@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Satisfy&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1d3557;
  --second-bg-color: #a8dadc;
  --main-color: #e63946;
  --card-bg-color: #457b9d ;
  --text-color: #f1faee;
  --main-font: 'Satisfy', cursive;
  --secund-font: 'Raleway', sans-serif;
  --default-font: font-family: 'Urbanist', sans-serif;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

