* {
    margin: 0;
    padding: 0;
  }
  :root {
    --main-font: 'Amatic SC', cursive;
    --secund-font: 'Nunito', sans-serif;
    --action-font: 'Plus Jakarta Sans', sans-serif;
  }
  h1{
    font-family: var(--main-font);
  }
  h2{
    font-family: var(--action-font);
  }
  p{
    font-family: var(--secund-font);
  }
